<h1>New preference</h1>

<%= semantic_form_for @preference do |f| %>
  <%= f.inputs do %>
    <%= f.input :voice %>
    <%= f.input :text %>
    <%= f.input :email %>
  
	<%= f.select :msg_pref, [['Send All Message Types','all'],['Send Just Texts','text'],['Send Just Voice Calls','voice'],['Send Just Emails','email']] %>
	
	  
	
	    <%= f.label :timezone %>
	
		<%= f.collection_select :timezone, ActiveSupport::TimeZone.us_zones, :name, :to_s %>
	  
		<h3>Selet Do Not Contact days of the year</h3>
	   
	    <%= f.input :holiday_new_year %> 
	    <%= f.input :holiday_martin_luther_king_jr %> 
	    <%= f.input :holiday_presidents %> 
	    <%= f.input :holiday_memorial %> 
	    <%= f.input :holiday_independence %> 
	    <%= f.input :holiday_labor %> 
	    <%= f.input :holiday_columbus %> 
	    <%= f.input :holiday_veterans %> 
	    <%= f.input :holiday_thanksgiving %> 
	    <%= f.input :holiday_christmas %> 
	  
	    t.date     "added_holiday_1"
	    t.date     "added_holiday_2"
	    t.date     "added_holiday_3"
	    t.date     "added_holiday_4"
	    t.date     "added_holiday_5"
	    t.date     "added_holiday_6"
	    t.date     "added_holiday_7"
	    t.boolean  "sunday_send",                   :default => true
	    t.time     "sunday_start",                  :default => '2000-01-01 10:00:00'
	    t.time     "sunday_end",                    :default => '2000-01-01 18:00:00'
	    t.boolean  "monday_send",                   :default => true
	    t.time     "monday_start",                  :default => '2000-01-01 09:00:00'
	    t.time     "monday_end",                    :default => '2000-01-01 20:00:00'
	    t.boolean  "tuesday_send",                  :default => true
	    t.time     "tuesday_start",                 :default => '2000-01-01 09:00:00'
	    t.time     "tuesday_end",                   :default => '2000-01-01 20:00:00'
	    t.boolean  "wednesday_send",                :default => true
	    t.time     "wednesday_start",               :default => '2000-01-01 09:00:00'
	    t.time     "wednesday_end",                 :default => '2000-01-01 20:00:00'
	    t.boolean  "thursday_send",                 :default => true
	    t.time     "thursday_start",                :default => '2000-01-01 09:00:00'
	    t.time     "thursday_end",                  :default => '2000-01-01 20:00:00'
	    t.boolean  "friday_send",                   :default => true
	    t.time     "friday_start",                  :default => '2000-01-01 09:00:00'
	    t.time     "friday_end",                    :default => '2000-01-01 20:00:00'
	    t.boolean  "saturday_send",                 :default => true
	    t.time     "saturday_start",                :default => '2000-01-01 10:00:00'
	    t.time     "saturday_end",                  :default => '2000-01-01 18:00:00'
	  
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>


